/* Navigation */
nav {background-color: #FFA630; padding : 10px;}
nav a {color: #0474BA ; padding: 10px;}
nav a:hover {background-color: #00A7E1 ;}

/*Footer*/
.right {float: right; align-items: center; padding: 10px;}
.left {float: left; align-items: center; padding: 10px;}

/*Body Background Color*/
body {background-color: #ffd7b5; margin: 0; font-size: 1.2em;}
main img {border: 2px solid #0474BA;}

/*Horizontal Lines*/
hr {background-color: black; height: 1px; border: none;}

/*Banners*/
.banner {display: flex; align-items: center; justify-content: center; position: relative; gap: 30px;}
.bannerimg1 {width: 8em; height: auto; position: relative;}
.bannerimg2 {width: 7em; height: auto; position: relative;}

/*Page Titles*/
h1 {text-align: center; font-size: 3em; font-family: cursive; color: #0474BA;}
h2 {color: #0474BA;}

/*Image Carousel*/
.carousel-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.carouselimg {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
}

.carouselimg img{
    width: auto;
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.carouselimg.active {
    display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#carouseldots {text-align: center;}

.dot {cursor: pointer; font-size: 24px; margin: 0 4px; display: inline-block;}

.active, .dot:hover {
  background-color: #717171;
}

/*Home Page*/
#p1p1, #p1p2, #p1p3 {display: flex; align-items: center; gap: 3em; margin: 2em;}
#p1p1 .text, #p1p2 .text, #p1p3 .text {max-width: 60%;}
#p1p1 img, #p1p2 img, #p1p3 img {max-width: 45%; height: auto;}

/*Advice Page*/
#topparagraph {border: 1px solid black; margin: 1em; padding: 1em;}

.sectiondivider {
  width: 95%;
}

/*Dorm*/
#llcvideo {
  display: block;
  margin: 2em auto;
}

#dorm {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#dorm .text {
  margin: 0 2em;
}

.list-images-container {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 4em;
}

#dormlist {
    flex: 0 0 75%;
}

#dormlist li {
    margin-bottom: 1em;
}

.list-images-container .images {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.list-images-container .images img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.list-images-container p {
    flex-basis: 100%;  
    margin-bottom: 1em;
}

/*Academics*/
#academics {
  margin: 0 2em;
}

#academics li {
  margin-bottom: 1em;
}

/*Getting involved*/
#involvement {display: flex; align-items: center; gap: 3em; margin: 2em;}
#involvement .text {max-width: 60%;}
#involvement img {max-width: 45%; height: auto;}

/*Resources*/
#resources {display: flex; align-items: center; gap: 3em; margin: 2em;}
#resources .text {max-width: 60%;}
#resources img {max-width: 45%; height: auto;}

#resources li {
  margin-bottom: 1em;
}


@media (max-width:760px) {
                nav {flex-direction: column; gap: 10px;} 
                nav a {display: block; max-width: 100%;}
                .pipes {display: none;}
                .bannerimg1, .bannerimg2 {display: none;}

                h1 {font-size: 2.5em;}

                .carousel-container {max-width: 90%;}
                .carouselimg img {max-height: 250px;}
                .prev, .next {font-size: 1.5em; padding: 10px;}
                .prev {left: -0.5em;}
                .next {right: -0.5em;}

                #p1p1, #p1p2, #p1p3 {flex-direction: column; gap: 1em; margin: 1em;}
                #p1p1 .text, #p1p2 .text, #p1p3 .text {max-width: 100%}
                #p1p1 img, #p1p2 img, #p1p3 img {max-width: 100%;}
                #p1p2 .text {order: 1}
                #p1p2 img {order: 2}
            }