/*CSS for Labs */
body {font-family: Georgia, serif; color: #000000; background-color: #fff4e6; font-size: 1em;}

h1, h2 {color: #cc00cc ;}
#skillsh1 {text-align: center;}

body a{color: #0066ff ;}
a:visited {color: #c99789 ;}
nav {background-color: #c79dd7; padding : 10px; margin-bottom : 30px; display: flex;}
nav a {color: #000000 ;}
nav a:hover {background-color: #b6654f ;}

.evenrow {background-color: #b0d0c1;}

h1 {font-size: 2em;}

h2 {font-size: 1.5em;}

.right {float: right;}
.left {float: left;}

.row1, .row2 {display: flex; background-color: #e0d4e3; border-radius: 2em; padding: 1em; margin: 20px;}
.row1 div, .row2 div {padding: 1em;}
.row2 {justify-content: center; flex-wrap: wrap;}

.firstrow {display: flex; background-color: #e0d4e3; border-radius: 2em; padding: 1em; margin: 20px;}
.skillstable div, .skillsimage div {padding: 1em;}
.skillstable table {margin: 0 auto; flex-basis: 50%;}
.skillsimage {text-align: center; flex-basis: 50%;}

.bannerimg {max-width: 100%;}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

@media (max-width:760px) {
                nav {flex-direction: column; gap: 10px;} 
                nav a {display: block; max-width: 100%;}
                .pipes {display: none;}
            }
