/*CSS for Lab 08 */
body {font-family: Georgia, serif; color: #000000;}

h1, h2 {color: #ee5d6c ;}

body {background-color: #fff4e6;}

body a{color: #96ceb4 ;}
a:visited {color: #c99789 ;}
nav {background-color: #c79dd7; padding : 10px; margin-bottom : 30px;}
nav a {color: #bae1ff ;}
nav a:hover {background-color: #b6654f ;}

.evenrow {background-color: lavender;}

h1 {font-size: 2em;}

h2 {font-size: 1.5em;}

.right {float: right;}
.left {float: left;}
